extends layout
block content
  .jumbotron
    h1.display-5.jumbotron-title Instrumentation and Control Systems
    p.lead
      | The Quantum Guys specialize in building inexpensive custom instrumentation and control systems based on the 
      a.jumbotron-link-text(href='https://www.blinky-lite.io/', target='_blank')
        | Blinky-Lite 
      | platform
    p.lead
      | We also develop innovative products based on 
      a.jumbotron-link-text(href='https://www.blinky-lite.io/', target='_blank')
        | Blinky-Lite 
  .card
    h5.card-title Business Model
    .card-body
      .row
        .col 
          img(src='/img/BakeoutGui1.png')
        .col
          p.card-text  
            | The Quantum Guys AB will use 
            a.card-link-text(href='https://www.blinky-lite.io/', target='_blank')
              | Blinky-Lite 
            | to develop complete or partial custom control systems for clients 
          ul.card-text
            li
              | The Quantum Guys AB will charge for the development of the custom source code and hardware 
            li
              | To ensure confidence, The Quantum Guys AB will give the complete source code and hardware documentation. 
          p.card-text
            | We recognize that The Quantum Guys is a startup company and we have to build trust with our clients. To keep the requirement process "lite"
          ul.card-text
            li
              | We build a first prototype for no charge of programming costs
            li
              | We work with the client to develop the functionality they desire
            li
              | If the client is happy with the prototype, we then will build the complete system
          p.card-text
            a.card-link-text(href='https://www.blinky-lite.io/', target='_blank')
              | Blinky-Lite 
            | is an open-source platform so we do not charge license fees
          ul.card-text
            li
              | We deliver the complete software suite in a git repository
            li
              a.card-link-text(href='https://www.blinky-lite.io/readmore', target='_blank')
                | Node-RED 
              | programming enviroment of 
              a.card-link-text(href='https://www.blinky-lite.io/', target='_blank')
                | Blinky-Lite
              |  makes it easy to understand our software
            li
              | We also hand over the complete hardware design over to the client
