extends layout
block content
  .jumbotron
    h1.display-5.jumbotron-title THE QUANTUM GUYS
    p.lead
      | We are a team of scientists and engineers and we develop IoT hardware solutions in combination with our wireless, 
      | open source control platform. 
      br
      | Instead of creating big data on centralized computer centers, we employ cost effective
      | state-machines which allow us to dynamically control several aspects of a single problem with a single computer which is
      | adapted to the required performance of each application. 
      | The use of open source software provides full transparency to the user
      | (i.e. source code) and enables us to prototype fast solutions since we can build our applications on top of already existing software.
      br 
      | The control interfaces are platform independent and can be deployed from mobile devices as well as from desktop computers. 
    p.lead
      | Our strong expertise within high power electronics and radio frequency enables us to develop device controllers for different
      | kinds of medical, manufacturing and R&amp;D applications.
  .row(align='center')
    .col-md-4
      .card
        h5.card-title Instrumentation and Control Systems
        .card-body
          p.card-text
            | Inexpensive custom instrumentation and control solutions based on the 
            a.card-link-text(href='http://www.blinky-lite.io/', target='_blank') Blinky-Lite
            |  Platform
          a.btn.card-button(href='/controls') Read More
    .col-md-4
      .card
        h5.card-title Skåne Solar Energy Hub
        .card-body
          p.card-text
            | A large scale hybrid solar energy concept for Lund, Sweden
          a.card-link-text.btn.card-button(href='/solarEnergyHub') Read More
    .col-md-4
      .card
        h5.card-title Modular DC MicroGrid
        .card-body
          p.card-text
            | Harvesting energy from multiple renewable local sources for local consumption using DC smart grids.
          a.btn.card-button(href='/') Read More
