div.row.featurette
  div.col-md-3
    img(src='/img/solarEnergyHub/districtHeating.png',width='100%') 
  div.col-md-9
    h2.featurette-heading District Heating: The Economy of Scale
    p.featurette-text 
      | While the dream of placing solar panels on home rooftops is very 
      | attractive to the environmentally conscious and independent minded 
      | individual, 
    ul.featurette-bullet
      li
        | the field of solar technology is changing rapidly and 
        | individuals who invest in solar technology now might lose out in 
        | the advances of the future. 
      li
        | Also, a large amount of roof area is needed to produce a noticeable dent in a one's home energy bill.
    p.featurette-text        
      | Sweden, with its long history of collective cooperation, has grasped 
      | the importance of centralizing energy production. 
    ul.featurette-bullet
      li
        | In the early 1970's, Sweden adopted the widespread implementation of district heating systems throughout its municipalities. 
      li
        | Advances in renewable technologies and pollution controls can be implemented swiftly and economically with 
        | district heating as compared to the enormous cost of upgrading heating systems of many individual homeowners. 
      li
        | Hence greenhouse gases have been substantially reduced in Sweden with the centralized implementation of these new technologies.
    p.featurette-text          
      | A district heating system offers a ready-made solution to the drawbacks 
      | of distributing solar heat. 
    ul.featurette-bullet
      li
        | A large amount of pure "green" heat could be pumped into a town's district heating system with the connection 
        | of a large hybrid solar field. 
      li
        b.featurette-heading
          i
            | This unique opportunity for Sweden is unmatched anywhere else in the world.
hr.featurette-divider
