div.row.featurette
  div.col-md-9
    h2.featurette-heading How Green is Solar?
    p.featurette-text
      | Solar energy calls to mind large fields of photovoltaic panels. 
    ul.featurette-bullet
      li
        | But how "green" is a photovoltaic solar field?
      li
        | Photovoltaic panels, with even the best technology, collect a minor fraction of the solar energy available. 
    p.featurette-text
      | The energy payback time for a photovoltaic panel is the ratio between the energy required to produce a panel to the average rate of electrical energy gathered. 
    ul.featurette-bullet
      li
        | For standard photovoltaic technology, 
        b.featurette-text the energy payback time can stretch to over one-half of a decade. 
      li
        | With the rapid change of solar technology, many photovoltaic fields become obsolete even before they cross the energy break-even point. 
      li
        | In addition, most solar panels are produced in countries where environmental laws are much less strict than in environmentally conscious Sweden.
  div.col-md-3
    img(src='/img/solarEnergyHub/uglySolarPlant.jpg',width='100%') 
hr.featurette-divider
