div.row.featurette
  div.col-md-9
    h2.featurette-heading Hybrid, the Best of Both Worlds?
    p.featurette-text
      | While the amount of thermal heat collected from a solar panel dwarfs 
      | the amount of electrical energy, 
    ul.featurette-bullet
      li
        | it must be remembered that electrical energy is more versatile than thermal energy. 
      li
        | The holy grail of solar energy in the industrialized northern climates could be the combination of photovoltaic and thermal technology. 
    p.featurette-text
      | The concept of &#34;hybrid&#34; solar panels is not new, 
    ul.featurette-bullet
      li
        | but hybrid technology adds additional requirements of water pumps, piping, and valves, and heat exchangers.  
      li
        | This bulky technology might be daunting and out of reach for the average homeowner, especially in low income areas. 
    p.featurette-text
      | In addition the question of how hot to operate the panel has to be pondered. 
    ul.featurette-bullet
      li
        | The hotter a panel operates, the less photovoltaic electricity the panel produces. 
      li
        | This drop in efficiency can range anywhere between 15-30% which would be noticeable to a homeowner with a fixed amount of roof area available.
  div.col-md-3
    img(src='/img/solarEnergyHub/hybridPanel.png',width='100%') 
hr.featurette-divider
