div.row.featurette
  div.col-md-3
    img(src='/img/solarEnergyHub/researchProposal.png',width='100%') 
  div.col-md-9
    h2.featurette-heading A Research Proposal
    p.featurette-text
      | While the idea of a large scale hybrid solar field in southern Sweden sounds very promising, 
    ul.featurette-bullet
      li
        | the size and the scope of building such a field is daunting. 
      li
        | The project would require the cooperation of the municipality, 
        | site owner, energy companies, construction companies, and solar 
        | technology companies. 
    p.featurette-text
      | A consortium of these entities might be the best path forward to answer diverse questions such as:
    ul.featurette-bullet
      li What is the best type of hybrid solar panel technology to use on a large scale?
      li How is the electrical and thermal energy collected and distributed?
      li What is the optimum layout and useful energy yield of a hybrid solar field?
      li What are the operating parameters, such as panel temperature, of a hybrid solar field?
    p.featurette-text 
      | The task can be made more manageable by breaking it down into successively more complex phases.
    h6.featurette-text Phase 1: Engineering Study
    p.featurette-bullet 
      | The first phase would be an engineering study in which the question of 
      | whether the concept makes good green sense and good business sense 
      | would be studied. The study would look into the optimum mix of photovoltaic 
      | and thermal energy, technology drivers and choices and the logistics of 
      | electrical and thermal distribution.  The format of this phase could be 
      | a series of workshops held every few weeks where participating partners 
      | would act as rotating hosts. The deliverables of this phase would be a written 
      | report describing the concept, a blueprint for subsequent stages, 
      | and an outline of possible funding paths. The duration of this phase 
      | would be on the order of 9 months. The estimated labor cost would be about 5 Full Time Equivalents (FTE).
    h6.featurette-text Phase 2: Technology Demonstrator
    p.featurette-bullet
      | The second phase would explore large scale hybrid solar panel technology and 
      | could be held concurrently with the engineering study. The deliverable of this 
      | phase would be a micro-field of about 150 square meters  which could 
      | produce  15 kW of electrical power and 75 kW of thermal power. 
      | The goal of the demonstrator would be to to pick a hybrid solar 
      | panel technology. The duration of this phase would be on the order of 18-24 months. 
      | The estimated labour cost is about 4 FTEs and material cost of 1 MSEK.
    h6.featurette-text Phase 3: Prototype Hybrid Field
    p.featurette-bullet
      | In this phase the technology demonstrator would be scaled up by a 
      | factor of 10 to provide 160 kW of electrical power and 800 kW of thermal power. 
      | The field would occupy a little less than 2000 square meters. The goal of 
      | this phase is to implement the hybrid panel technology chosen in the 
      | Technology Demonstrator and optimize the collection and distribution of 
      | both electrical and thermal systems. The duration of this phase would 
      | be on the order of 18-24 months. The estimated labour cost is about 7 FTEs and material cost of 8 MSEK.
    h6.featurette-text Phase 4. Pre-series Hybrid Field
    p.featurette-bullet
      | In this phase a complete mini-field would be built that would 
      | provide 650 kW of electrical power and 3.2 MW of thermal power. 
      | The field would occupy about 7200 square meters. This phase would be a 
      | final test before the construction of a large scale field. The 
      | duration of this phase would be on the order of 18 months. 
      | The estimated labour cost is about 10 FTEs and material cost of 20 MSEK.
    h6.featurette-text Phase 5. Complete Hybrid Solar Hub
    p.featurette-bullet
      | This phase would be the construction of an entire hybrid solar field 
      | that would provide 23 MW of electrical power and 100 MW of thermal power. 
      | The field would occupy about 25 hectares. The cost of the field would be about 350 MSEK.
hr.featurette-divider
