div.row.featurette
  div.col-md-9
    h2.featurette-heading A Possible Hybrid Solar Hub
    p.featurette-text 
      | The European Spallation Source (ESS)  site occupies 75 hectares of land north-east of Lund in southern Sweden.
    ul.featurette-bullet
      li
        | Because of the nature of hazards present at the ESS site, over 50 percent 
        | of this land is un-occupied and used as a barrier to the general public. 
        b.featurette-heading
          i
            | This land cannot be used for agriculture or habitation.
      li
        | The ESS site is connected to Lund&#34;s district heating system 
        | to receive a significant portion of waste heat generated generated 
        | by the complex and over 20 MW of electricity is required to power the  linear accelerator.
      li
        | The site is adjacent to the  rapidly developing Brunshog area which 
        | has been targeted as a showpiece of innovation and sustainability.
      li
        | Finally, ESS has promised Sweden that it will be the first carbon 
        | neutral science facility to be built in the world.
    p.featurette-text
      | All of these reasons make the ESS site an excellent choice for the first 
      | large scale hybrid solar energy hub in which photovoltaic electricity is 
      | directly injected into the heart of the accelerator and solar heat is 
      | fed to the surrounding Science Village. 
    ul.featurette-bullet
      li
        | Preliminary studies have shown that a hybrid solar field occupying 30 percent of the ESS site could 
        | supply enough electric energy to offset the proton beam energy emanating 
        | from the world&#34;s most powerful linear accelerator. 
      li
        | Collection of thermal energy during the winter months could exceed a daily average of 9 MW-day (200 MW-hr) 
        | and a yearly accumulation of 180 GW-hr. The yearly sum of electrical and thermal energy 
        | from this field 
        b.featurette-text
          i
            | could be 20% more energy than ESS consumes.
  div.col-md-3
    img(src='/img/solarEnergyHub/essSolar.png',width='100%') 
hr.featurette-divider
