div.row.featurette
  div.col-md-3
    img(src='/img/solarEnergyHub/threeWayValve.jpg',width='100%') 
  div.col-md-9
    h2.featurette-heading A Solar Powered Particle Accelerator
    p.featurette-text
      | ESS is implementing a new concept for energizing the accelerator called Stacked Multi-Level Topology Modulators. 
    ul.featurette-bullet
      li
        | The main motivation for this new type of modulator is the requirements of a long pulse facility and the ultra-high beam power of the ESS linac. 
      li
        | The AC/DC Active Front End units of the modulators are based on the same power electronic structures as those of conventional solar inverters and are fully power reversible. 
    p.featurette-text
      | This modulator front-end can be thought of as a three-way electrical valve in which:
    ul.featurette-bullet
        li
          | When the sun is shining, power is pulled from the solar cells to power
          | the RF transmitters and minimal power is pulled from the electrical grid for regulation.
        li
          | When the sun is shining and the accelerator is not running (when in a maintenance period),
          | the power from the solar cells is back-feed to the grid to add additional power to the electric grid.
        li
          | When the sun is partly shining, power is pulled from the solar cells and the grid to power
          | the RF transmitters. The AC/DC and DC/DC converters automatically regulate how much power
          | comes from each source.
        li
          | When the sun is not shining, power is pulled automatically from the grid to power the RF transmitters.
    p.featurette-text
      | Preliminary studies have shown that a hybrid solar field occupying 30 percent of the ESS site 
      b.featurette-heading
        | could supply enough electric energy to offset the proton beam energy emanating from the world"s
        | most powerful linear accelerator.
hr.featurette-divider
