div.row.featurette
  div.col-md-3
    img(src='/img/solarEnergyHub/fryEggOnCar.png',width='100%') 
  div.col-md-9
    h2.featurette-heading Solar Heat
    p.featurette-text
      | Because a large fraction of solar energy is heat, the easiest way to utilize solar energy 
      | is to collect heat. 
    ul.featurette-bullet
      li
        | This is in stark contrast to the vision of high-tech photovoltaic solar fields stretching across 
        | hot and sunny places like the American south-west or the Sahara desert where the thermal energy is an unwanted by-product. 
      li
        | However, many highly populated industrialized 
        | areas are located in northern climates where heating is essential for a good fraction of the year. 
    p.featurette-text
        | The potential for solar heat energy in southern Sweden during the heating months between October through March
    ul.featurette-bullet
      li
        | is 1500 MW-hr per hectare 
      li
        | which equals the photovoltaic (electrical) solar energy collected over the entire year. 
    p.featurette-text
      | If large scale, long term, thermal energy storage that is being 
      | contemplated for southern Sweden becomes a reality, than the amount of heat collected would increase 
      | by well over a factor of four! 
      b.featurette-heading
        i
          | The energy payback time could drop by a factor of two to five if thermal heat is exploited.
hr.featurette-divider
