div.row.featurette
  div.col-md-9
    h2.featurette-heading Summary
    p.featurette-text 
      | The climate, both physical and political, makes large scale hybrid solar 
      | technology a unique opportunity for Sweden. 
    ul.featurette-bullet
      li
        | The uniqueness of this opportunity 
        | does not lie in any one specific technology but in  the integration of a number of 
        | disparate technologies ranging from power electronics, to solar technology, 
        | to energy distribution. 
      li
        | The task to bring a large scale hybrid solar 
        | energy to reality will require contributions from universities, research 
        | facilities, energy companies, and technology firms. 
    p.featurette-text
      b
        | The payoff for 
        | both the climate and the economy of Sweden could be substantial.
  div.col-md-3
    img(src='/img/solarEnergyHub/summary.jpg',width='100%') 
hr.featurette-divider
